@media (max-width: 320px) {

body {
  background: url(../img/background_photo.jpg);
  font-family: 'Gentium Book Basic', serif;
  font-size: 16px;
  margin: 0;
  text-align: left;
}

h1 {
  margin-top: 0;
}

body {
  font-family: 'Gentium Book Basic', serif;
  color: #DCDCDC;
  background-color: #FFDEAD;
  background: url(../img/background_photo.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin: 0px;
  position: center;
}

header {
  color: #DCDCDC;
  background: #310000;
  width: 400px;
}

h1, h2, h3 {
  font-family: 'Open Sans', sans-serif;
  text-transform: uppercase;
}

section {
    color: #DCDCDC;
    margin-top: 0px;
}

#mainpage {
  margin-left: 0px;
}

#heading {
  color: #DCDCDC;
  background: #310000;
  text-align: center;
  width: 300px;
  margin-left: 60px;
}

h3 {
  color: #DCDCDC;
  background-color: #310000;
  margin: none;
  width: 320px;
}

h1, h2, h3 {
  font-size: 16px;
}

#navigation1 {
  list-style-type: none;
  font-size: 0.7em;
  font-family: 'Monda', sans-serif;
  text-transform: uppercase;
  background: #310000;
  width: 320px;
  text-align: left;
}

#navigation2 {
  list-style-type: none;
  font-size: 0.7em;
  font-family: 'Monda', sans-serif;
  text-transform: uppercase;
  background: #310000;
  width: 320px;
  text-align: left;
}

nav li {
    list-style-type: none;
    font-size: 0.7em;
    font-family: 'Monda', sans-serif;
    text-transform: uppercase;
    background: #310000;
    width: 320px;
}

nav ul.a {
    list-style-type: none;
    margin: 0;
    width: 320px;
}

nav a:link, nav a:visited {
    text-decoration: none;
    color: #DCDCDC;
}

a:link, a:visited {
    text-decoration: none;
    color: #DCDCDC;
}

a:hover, a:active{
    text-decoration: none;
}

#details {
    text-align: left;
    background: #310000;
}

#info {
    text-align: left;
    background: #310000;
}

#headshot {
    width: 200px;
    height: 216px;
    border: none;
}

#education {
  text-align: left;
  background: #310000;
  width: 320px;
}

#shirt {
    width: 320px;
    height: 240px;
    border: none;
}

#poster {
    width: 320px;
    height: 494px;
    border: none;
}

.mp4 {
  width: 320px;
  height: 215px;
  border: none;
}



h4, p {
  background: #310000;
  width: 320px;
}

ul {
  background: #310000;
  width: 320px;
}

#things {
  background: #310000;
  list-style-type: none;
  width: 320px;
}

#shows {
  background: #310000;
  list-style-type: none;
  width: 320px;
}
}
